# PYTHON BASICS - Heading

Markdown

In [61]:
# This is where you write a Code

# Using Python as a Calculator

In [62]:
3 + 3 #Addition of two numbers

6

In [63]:
4 - 3 #Subtraction of two numbers

1

In [64]:
4*2 #Multiplication of two numbers

8

In [65]:
4 / 5 # Division of two numbers returns a floating number - returns quotient

0.8

### Using "BODMAS" Rule

In [66]:
50 - 3*4 # First multiplication then subtraction

38

In [67]:
(50*2 - 3) / 4

24.25

#### division & floor division

In [68]:
23/3 # classic division returns float - that is output is with fractional part

7.666666666666667

In [69]:
23//3 #Floor division discards the fractional part

7

In [70]:
23 % 3 # % operator returns the remainder of the division

2

#### Power Operator

In [71]:
5 ** 2 # returns square of 5

25

In [72]:
3 ** 4 # returns 3 raise to 4 value

81

### Assignment Operator (=)

In [73]:
A = 12 # assigning value 12 to variable A 
B = 24
A + B

36

In [74]:
a = 3 # assigning value 3 to a 
a

3

### Python is case sensitive language so "A" & "a" are different here.

##### We can write code in different lines or in one line as well

In [75]:
A = 12 
B = 24 
A + B

36

In [76]:
A = 12

In [77]:
B = 24

In [78]:
A + B

36

In [79]:
c # accesing a variable which is undefined gives NameError

NameError: name 'c' is not defined

In [81]:
2-3.4*2 # mixed operators and float point

-4.8

In [82]:
C = 100

In [83]:
D = 5

In [84]:
C + D

105

In [85]:
C*_ # underscore (_) is used for using previous calculation into new 
# here value of C gets multiplied with 105 which is the answer of previous calculation

10500

###### Using Math library for using some functions

In [86]:
import math # import is keyword used to import library math

In [87]:
radius = 2
print(f"The area of circle is :{math.pi*(radius ** 2)}")

The area of circle is :12.566370614359172

In [88]:
# (f"Is a string formatting {in this we write what has to be called}")

In [89]:
x = 20  # defining a variable

In [90]:
math.pi # syntax : library_name.function   --- for using any function from library

3.141592653589793

In [91]:
math.exp(x)

485165195.4097903

In [92]:
math.log(x) # returns natural log

2.995732273553991

In [93]:
print(math.log10(x))   # both returns log to the base 10
print(math.log(x,10))

1.3010299956639813
1.301029995663981

In [94]:
math.log(x,2) # log to the base 2

4.321928094887363

In [95]:
y = 20.353535
math.ceil(y) # rounds up the given number

21

In [96]:
math.floor(y) # rounds down the given number

20

In [97]:
math.fabs(-2.33333) # gives absolute number

2.33333

In [98]:
math.gcd(100,244) # greatest common divisor of the numbers  -- gcd(a,b)

4

In [99]:
S = [20,30,40,50]  # list is in square  bracket

In [100]:
math.fsum(S) # sum of all the values in list S

140.0

In [101]:
math.pow(3,4) # 3 raise to 4 -- power

81.0

In [102]:
math.sqrt(81) # root of 81

9.0

In [103]:
math.copysign(3,-1) # syntax : copysign(number on which sign should come, number which has sign) 
# -- can be used while non parametric tests - sign rank test

-3.0

In [104]:
math.factorial(5) # 5!

120

In [105]:
math.sin(180)

-0.8011526357338304

In [106]:
math.atan(180)

1.565240828394204

In [107]:
math.degrees(20) # converts angle 20 from radian to degrees

1145.9155902616465

In [108]:
math.radians(1145.9155) # converts from degrees to radian

19.99999842463708

# STRINGS

- It is a datatype

- To use when you want to assign a word , paragraph

- to check datatype - syntax : print(type( ))

- Strings are immutable i.e you cannot change the string once its been saved

In [109]:
'Ayushi' #single quotes

'Ayushi'

In [110]:
"Ayushi" # double quotes

'Ayushi'

In [112]:
'dosen\'t' # use \' to escape the single quotes

"dosen't"

In [113]:
"ain\'t'"

"ain't'"

In [114]:
'ain\t' # if you dont use\' then ain't wont come in this format

'ain\t'

In [115]:
"Yes, I am in"

'Yes, I am in'

In [116]:
"Yes, \'I am in'"

"Yes, 'I am in'"

In [118]:
"Don\'t'", they lie # gives Syntax error since they lie is not written in quotes

SyntaxError: invalid syntax (Temp/ipykernel_2644/3528894476.py, line 1)

In [119]:
print("Yes, \'I am in'")

Yes, 'I am in'

In [120]:
Name = Ayushi  # gives Name error 
#since Ayushi is a string and not a value so python dosent understands it 
#as a value till we write it in quotes

NameError: name 'Ayushi' is not defined

In [121]:
Name = "Ayushi"
Name

'Ayushi'

In [122]:
print(Name)

Ayushi

### INDEXING

In [ ]:
# syntax : <name of the string>[index]"

-Ayushi

-012345

- indexing in python starts from 0 and keeps increasing

- Negative indexing starts from -1 and goes on decreasing

In [123]:
Name[0] # returns character in position 0

'A'

In [124]:
Name[-6] # returns character at the -ve6 position

'A'

In [125]:
Name[-1] # last character

'i'

In [126]:
Name[-2] # second-last character

'h'

### SLICING

In [127]:
# syntax [start_index : end_index]

In [128]:
Name [0:2] # character from position 0(included) to 2(excluded)

'Ay'

In [129]:
Name[ :2] # gives same output as above-character from beginning to position 2 (excluded) - ie first two characters

'Ay'

In [130]:
Name[2: ] # last 4 characters - character from position 2 (included) to end

'ushi'

In [131]:
Name[ :2] + Name[2: ]

'Ayushi'

#### STRING ADDITION

In [136]:
S1 = "Ayushi"
S2 = "Padamwar"

with_space = S1+" "+S2 # with space Addition of two strings
without_space = S1+S2 # without space Addition of two strings
print(f"with_space = {with_space}\nwithout_space = {without_space}")

with_space = Ayushi Padamwar
without_space = AyushiPadamwar

In [137]:
#Another way of addition of strings using "%s%s"%

add_string = "%s%s"%(S1,S2)
S3 = "%s %s"%(S1,S2)
print(add_string)
print(S3)

AyushiPadamwar
Ayushi Padamwar

In [142]:
# using "".join([]) method 

S4 = " ".join([S1,S2])  # list in join function
print(S4)

Ayushi Padamwar

In [143]:
S5 = "{} {}".format(S1,S2) # string formatting
print(S5)

Ayushi Padamwar

In [144]:
del S4[1] # string are immutable so you cannot delete the string but you can delet S4 which is a variable having string

TypeError: 'str' object doesn't support item deletion

In [145]:
# Concatination of a string

In [146]:
S1

'Ayushi'

In [147]:
S1*3 #String is repeated 3 times

'AyushiAyushiAyushi'

In [150]:
(S1+" ")*3 #String is repeated 3 times with space

'Ayushi Ayushi Ayushi '

In [151]:
type(S1) # datatype of S1

str

### LIST

- List is an array 

- Can be of heterogeneous datatype \ can include multiple datatype

- empty list - []

- list are mutable

In [152]:
squares = [1,4,9,16,25]
squares

[1, 4, 9, 16, 25]

#### INDEXING

In [153]:
squares[0] #indexing in list - returns 0th index from list

1

In [154]:
squares[-1] # returns last index from list squares

25

#### SLICING

In [156]:
squares[:] #returns all the values

[1, 4, 9, 16, 25]

In [158]:
squares[1:] #returns values from position 1 to end

[4, 9, 16, 25]

In [159]:
squares[:1] # slicing only 1st index

[1]

In [161]:
squares[2:] # slicing ignores 1st 2 values

[9, 16, 25]

In [163]:
squares[:3] # considers 1st 3 values

[1, 4, 9]

In [164]:
characters = ["Monica", "Rachel", "Pheobe"] # character list

In [165]:
characters

['Monica', 'Rachel', 'Pheobe']

In [166]:
combined = [1,2,"3","four",2.3] # mixed character, float, number ,etc

In [167]:
combined

[1, 2, '3', 'four', 2.3]

In [168]:
List = [] #empty list
List

[]

In [169]:
#nested list - list inside a list

list_in_list = [1,2,[9,8],4,5,6]
list_in_list

[1, 2, [9, 8], 4, 5, 6]

In [171]:
list_in_list[2] # returns element at position 2

[9, 8]

In [173]:
Y = [2,3,4]
Z = [7,8,9]
Y+Z # combination of two lists

[2, 3, 4, 7, 8, 9]

In [174]:
Y+" "+Z # gives Type error list cannot be added like strings

TypeError: can only concatenate list (not "str") to list

In [178]:
squares.append(6**2) # adding new element at the end of the list

36

In [179]:
squares

[1, 4, 9, 16, 25, 36]

In [183]:
b = [64, 81, 100]
squares.append(b) # adding a list at end in a list

In [185]:
squares

[1, 4, 9, 16, 25, 36, [64, 81, 100]]

HOW TO REPLACE VALUES IN A LIST IN PYTHON?

- USING LIST INDEXING

- USING FOR LOOP

- USING WHILE LOOP

- USING LAMBDA FUNCTION

- USING LIST SLICING

1. List indexing

In [187]:
# Syntax: name_of_list[index]=new_value

In [189]:
squares

[1, 4, 9, 16, 25, 36, [64, 81, 100]]

In [191]:
squares.pop(-1) # removing element at the last index which here was a list

[64, 81, 100]

In [192]:
squares

[1, 4, 9, 16, 25, 36]

In [193]:
squares[-1]=49 # replacing the element at -1 position with new element
#used when you bymistakely enter a wrong value
squares

[1, 4, 9, 16, 25, 49]

In [223]:
Friends = ["Joey", "Chandler", "Ross", "Mike"] # creating a list assigned to a variable Friends
Friends

['Joey', 'Chandler', 'Ross', 'Mike']

In [224]:
Friends[-1] = "Rachel"   # replacing Mike with rachel

In [225]:
Friends

['Joey', 'Chandler', 'Ross', 'Rachel']

In [226]:
Friends[0:3] = ["Monica","Pheobe","Janice"]

In [227]:
Friends

['Monica', 'Pheobe', 'Janice', 'Rachel']

In [228]:
Friends[0:2] = [] # removing name at position 2

In [229]:
Friends

['Janice', 'Rachel']

##### Basic Operations, Strings, lists in the notebook